body {

border-width: 100px;
border-top-style: inset;
border-color: #2169d6;
background-color: white;
}

#findestech{
    text-align: center;
    display: block;
    margin: 50px auto;
    max-width: 500%;
    height: auto;
    width: 500px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(27, 78, 216) ;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', poppins, 'Trebuchet MS', sans-serif;
}
p {
    color: #fafafa;
    font-size: larger;
    line-height: 1.6;
   font-family:  'Gill Sans', 'Gill Sans MT', poppins, 'Trebuchet MS', sans-serif;
    
}
.email {
    font-weight: bold;
    color:blue;
}
